body {
    background-color: #999595;
}

#canvas{
  background-color: white;
}

.appSize{
  width: 1100px;
}

.navs{
  background-color: #5f5f5f;
  color: #f1f1f1;
}

.navs1{
  height: 70px;
}

.navs2{
  height: 550px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 50%;
  display: inline-block;
}


.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
