body {
    background-image: url("Fondo.jpg");
}

button{
  margin: 2px;
  width: 150px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
}

#canvas{
  background-color: white;
  border: 3px solid black;
}

.appSize{
  width: 1200px;
  background-image: url("Tablero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slidecontainer{
  padding-left: 15px;
  width: 145px;
}

.navs{
  color: #f1f1f1;
}

.navs1{
  height: 70px;
}

.navs2{
  height: 550px;
}

.dot {
  height: 25px;
  width: 25px;
  border: 50%;
  display: inline-block;
}


.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.black{
  background-color: black;
}

.gray{
  background-color: gray;
}

.yellow{
  background-color: yellow;
}
.brown{
  background-color: brown;
}

.orange{
  background-color: orange;
}

.pink{
  background-color: pink;
}

.purple{
  background-color: purple;
}

.white{
  background-color: white;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
